{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<div class="content-wrapper" style="min-height: 1602px;">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Commande index</h1>
                </div>
            </div>
    <h1>Hello {{ controller_name }}! ✅</h1>

        </div>
    </section>
</div>
{% endblock %}
